-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: hoteleria
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alerta`
--

DROP TABLE IF EXISTS `alerta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alerta` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint unsigned NOT NULL,
  `reserva_habitacion_id` bigint unsigned DEFAULT NULL,
  `titulo` varchar(200) NOT NULL,
  `mensaje` text,
  `canal` varchar(100) DEFAULT NULL,
  `fecha_envio` datetime DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_alerta_reserva` (`reserva_habitacion_id`),
  KEY `fk_alerta_estado` (`estado_id`),
  KEY `idx_alerta_cliente` (`cliente_id`),
  CONSTRAINT `fk_alerta_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `cliente` (`id`),
  CONSTRAINT `fk_alerta_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_alerta_reserva` FOREIGN KEY (`reserva_habitacion_id`) REFERENCES `reserva_habitacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alerta`
--

LOCK TABLES `alerta` WRITE;
/*!40000 ALTER TABLE `alerta` DISABLE KEYS */;
/*!40000 ALTER TABLE `alerta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cancelacion_habitacion`
--

DROP TABLE IF EXISTS `cancelacion_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cancelacion_habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `reserva_habitacion_id` bigint unsigned NOT NULL,
  `motivo` text,
  `fecha_cancelacion` date NOT NULL,
  `aplica_penalidad` tinyint(1) DEFAULT '0',
  `valor_penalidad` decimal(12,2) DEFAULT '0.00',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reserva_habitacion_id` (`reserva_habitacion_id`),
  KEY `fk_cancelacion_habitacion_estado` (`estado_id`),
  CONSTRAINT `fk_cancelacion_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_cancelacion_habitacion_reserva` FOREIGN KEY (`reserva_habitacion_id`) REFERENCES `reserva_habitacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cancelacion_habitacion`
--

LOCK TABLES `cancelacion_habitacion` WRITE;
/*!40000 ALTER TABLE `cancelacion_habitacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `cancelacion_habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catalogo_habitacion`
--

DROP TABLE IF EXISTS `catalogo_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `catalogo_habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `habitacion_id` bigint unsigned NOT NULL,
  `titulo` varchar(200) NOT NULL,
  `descripcion` text,
  `precio_base` decimal(12,2) NOT NULL,
  `visible` tinyint(1) DEFAULT '1',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `habitacion_id` (`habitacion_id`),
  KEY `fk_catalogo_habitacion_estado` (`estado_id`),
  CONSTRAINT `fk_catalogo_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_catalogo_habitacion_habitacion` FOREIGN KEY (`habitacion_id`) REFERENCES `habitacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalogo_habitacion`
--

LOCK TABLES `catalogo_habitacion` WRITE;
/*!40000 ALTER TABLE `catalogo_habitacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `catalogo_habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `check_in`
--

DROP TABLE IF EXISTS `check_in`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `check_in` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `reserva_habitacion_id` bigint unsigned NOT NULL,
  `empleado_id` bigint unsigned NOT NULL,
  `fecha_hora_ingreso` datetime NOT NULL,
  `observacion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reserva_habitacion_id` (`reserva_habitacion_id`),
  KEY `fk_check_in_empleado` (`empleado_id`),
  KEY `fk_check_in_estado` (`estado_id`),
  CONSTRAINT `fk_check_in_empleado` FOREIGN KEY (`empleado_id`) REFERENCES `empleado` (`id`),
  CONSTRAINT `fk_check_in_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_check_in_reserva` FOREIGN KEY (`reserva_habitacion_id`) REFERENCES `reserva_habitacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `check_in`
--

LOCK TABLES `check_in` WRITE;
/*!40000 ALTER TABLE `check_in` DISABLE KEYS */;
INSERT INTO `check_in` VALUES (1,1,1,'2026-05-10 14:00:00','Ingreso sin novedad',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,1,'2026-05-15 15:30:00','Cliente con mascota pequea',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `check_in` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `check_out`
--

DROP TABLE IF EXISTS `check_out`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `check_out` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `estadia_id` bigint unsigned NOT NULL,
  `empleado_id` bigint unsigned NOT NULL,
  `fecha_hora_salida` datetime NOT NULL,
  `observacion` text,
  `valor_total` decimal(12,2) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `estadia_id` (`estadia_id`),
  KEY `fk_check_out_empleado` (`empleado_id`),
  KEY `fk_check_out_estado` (`estado_id`),
  CONSTRAINT `fk_check_out_empleado` FOREIGN KEY (`empleado_id`) REFERENCES `empleado` (`id`),
  CONSTRAINT `fk_check_out_estadia` FOREIGN KEY (`estadia_id`) REFERENCES `estadia` (`id`),
  CONSTRAINT `fk_check_out_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `check_out`
--

LOCK TABLES `check_out` WRITE;
/*!40000 ALTER TABLE `check_out` DISABLE KEYS */;
/*!40000 ALTER TABLE `check_out` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `persona_id` bigint unsigned NOT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `persona_id` (`persona_id`),
  KEY `fk_cliente_estado` (`estado_id`),
  KEY `idx_cliente_persona` (`persona_id`),
  CONSTRAINT `fk_cliente_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_cliente_persona` FOREIGN KEY (`persona_id`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
INSERT INTO `cliente` VALUES (1,1,'Calle 5 # 10-20 Neiva',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,'Carrera 7 # 30-50 Bogota',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,3,'Av Poblado 45 Medellin',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboard_mantenimiento`
--

DROP TABLE IF EXISTS `dashboard_mantenimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboard_mantenimiento` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sede_id` bigint unsigned NOT NULL,
  `total_habitacion` int unsigned DEFAULT '0',
  `habitacion_disponible` int unsigned DEFAULT '0',
  `habitacion_ocupada` int unsigned DEFAULT '0',
  `habitacion_mantenimiento` int unsigned DEFAULT '0',
  `fecha_corte` date NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_dashboard_mantenimiento_sede` (`sede_id`),
  KEY `fk_dashboard_mantenimiento_estado` (`estado_id`),
  CONSTRAINT `fk_dashboard_mantenimiento_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_dashboard_mantenimiento_sede` FOREIGN KEY (`sede_id`) REFERENCES `sede` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboard_mantenimiento`
--

LOCK TABLES `dashboard_mantenimiento` WRITE;
/*!40000 ALTER TABLE `dashboard_mantenimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `dashboard_mantenimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_compra`
--

DROP TABLE IF EXISTS `detalle_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_compra` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `factura_id` bigint unsigned NOT NULL,
  `producto_id` bigint unsigned DEFAULT NULL,
  `servicio_id` bigint unsigned DEFAULT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `cantidad` int unsigned NOT NULL,
  `valor_unitario` decimal(12,2) NOT NULL,
  `valor_total` decimal(12,2) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_detalle_compra_factura` (`factura_id`),
  KEY `fk_detalle_compra_producto` (`producto_id`),
  KEY `fk_detalle_compra_servicio` (`servicio_id`),
  KEY `fk_detalle_compra_estado` (`estado_id`),
  CONSTRAINT `fk_detalle_compra_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_detalle_compra_factura` FOREIGN KEY (`factura_id`) REFERENCES `factura` (`id`),
  CONSTRAINT `fk_detalle_compra_producto` FOREIGN KEY (`producto_id`) REFERENCES `producto` (`id`),
  CONSTRAINT `fk_detalle_compra_servicio` FOREIGN KEY (`servicio_id`) REFERENCES `servicio` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_compra`
--

LOCK TABLES `detalle_compra` WRITE;
/*!40000 ALTER TABLE `detalle_compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disponibilidad_habitacion`
--

DROP TABLE IF EXISTS `disponibilidad_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disponibilidad_habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `habitacion_id` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `disponible` tinyint(1) DEFAULT '1',
  `motivo_no_disponible` varchar(255) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_disponibilidad_habitacion_habitacion` (`habitacion_id`),
  KEY `fk_disponibilidad_habitacion_estado` (`estado_id`),
  KEY `idx_disponibilidad_habitacion_fecha` (`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_disponibilidad_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_disponibilidad_habitacion_habitacion` FOREIGN KEY (`habitacion_id`) REFERENCES `habitacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disponibilidad_habitacion`
--

LOCK TABLES `disponibilidad_habitacion` WRITE;
/*!40000 ALTER TABLE `disponibilidad_habitacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `disponibilidad_habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disponibilidad_inventario`
--

DROP TABLE IF EXISTS `disponibilidad_inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disponibilidad_inventario` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `producto_id` bigint unsigned DEFAULT NULL,
  `servicio_id` bigint unsigned DEFAULT NULL,
  `cantidad_disponible` int unsigned DEFAULT '0',
  `disponible` tinyint(1) DEFAULT '1',
  `observacion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_disponibilidad_inventario_producto` (`producto_id`),
  KEY `fk_disponibilidad_inventario_servicio` (`servicio_id`),
  KEY `fk_disponibilidad_inventario_estado` (`estado_id`),
  CONSTRAINT `fk_disponibilidad_inventario_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_disponibilidad_inventario_producto` FOREIGN KEY (`producto_id`) REFERENCES `producto` (`id`),
  CONSTRAINT `fk_disponibilidad_inventario_servicio` FOREIGN KEY (`servicio_id`) REFERENCES `servicio` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disponibilidad_inventario`
--

LOCK TABLES `disponibilidad_inventario` WRITE;
/*!40000 ALTER TABLE `disponibilidad_inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `disponibilidad_inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empleado` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `persona_id` bigint unsigned NOT NULL,
  `cargo` varchar(100) NOT NULL,
  `fecha_ingreso` date NOT NULL,
  `telefono_laboral` varchar(30) DEFAULT NULL,
  `correo_laboral` varchar(150) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `persona_id` (`persona_id`),
  KEY `fk_empleado_estado` (`estado_id`),
  KEY `idx_empleado_persona` (`persona_id`),
  CONSTRAINT `fk_empleado_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_empleado_persona` FOREIGN KEY (`persona_id`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
INSERT INTO `empleado` VALUES (1,4,'Recepcionista','2024-03-01','3169998877','ana.gomez@hotel.com',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,5,'Administrador','2023-06-15','3183334455','pedro.lozano@hotel.com',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresa`
--

DROP TABLE IF EXISTS `empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empresa` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `nit` varchar(50) NOT NULL,
  `razon_social` varchar(200) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `correo` varchar(150) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `sitio_web` varchar(255) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nit` (`nit`),
  KEY `fk_empresa_estado` (`estado_id`),
  CONSTRAINT `fk_empresa_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresa`
--

LOCK TABLES `empresa` WRITE;
/*!40000 ALTER TABLE `empresa` DISABLE KEYS */;
/*!40000 ALTER TABLE `empresa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estadia`
--

DROP TABLE IF EXISTS `estadia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estadia` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `reserva_habitacion_id` bigint unsigned NOT NULL,
  `cliente_id` bigint unsigned NOT NULL,
  `habitacion_id` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `estado_estadia` varchar(50) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reserva_habitacion_id` (`reserva_habitacion_id`),
  KEY `fk_estadia_habitacion` (`habitacion_id`),
  KEY `fk_estadia_estado` (`estado_id`),
  KEY `idx_estadia_reserva` (`reserva_habitacion_id`),
  KEY `idx_estadia_cliente` (`cliente_id`),
  CONSTRAINT `fk_estadia_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `cliente` (`id`),
  CONSTRAINT `fk_estadia_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_estadia_habitacion` FOREIGN KEY (`habitacion_id`) REFERENCES `habitacion` (`id`),
  CONSTRAINT `fk_estadia_reserva` FOREIGN KEY (`reserva_habitacion_id`) REFERENCES `reserva_habitacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estadia`
--

LOCK TABLES `estadia` WRITE;
/*!40000 ALTER TABLE `estadia` DISABLE KEYS */;
INSERT INTO `estadia` VALUES (1,1,1,1,'2026-05-10',NULL,'ACTIVA',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,2,2,'2026-05-15',NULL,'ACTIVA',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `estadia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado`
--

DROP TABLE IF EXISTS `estado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estado` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `nombre_dominio` varchar(100) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `fk_estado_estado` (`estado_id`),
  CONSTRAINT `fk_estado_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado`
--

LOCK TABLES `estado` WRITE;
/*!40000 ALTER TABLE `estado` DISABLE KEYS */;
INSERT INTO `estado` VALUES (1,'ACTIVO','Activo','Registro activo','GLOBAL',NULL,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'INACTIVO','Inactivo','Registro inactivo','GLOBAL',NULL,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'ELIMINADO','Eliminado','Registro eliminado','GLOBAL',NULL,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `estado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado_habitacion`
--

DROP TABLE IF EXISTS `estado_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estado_habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `permite_reserva` tinyint(1) DEFAULT '0',
  `permite_check_in` tinyint(1) DEFAULT '0',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_estado_habitacion_estado` (`estado_id`),
  CONSTRAINT `fk_estado_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado_habitacion`
--

LOCK TABLES `estado_habitacion` WRITE;
/*!40000 ALTER TABLE `estado_habitacion` DISABLE KEYS */;
INSERT INTO `estado_habitacion` VALUES (1,'Disponible','Habitacion lista para ocupar',1,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Ocupada','Habitacion con huesped activo',0,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Mantenimiento','Habitacion en mantenimiento',0,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `estado_habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factura`
--

DROP TABLE IF EXISTS `factura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `factura` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint unsigned NOT NULL,
  `estadia_id` bigint unsigned NOT NULL,
  `numero_factura` varchar(50) NOT NULL,
  `fecha_emision` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `subtotal` decimal(12,2) NOT NULL,
  `impuesto` decimal(12,2) NOT NULL DEFAULT '0.00',
  `descuento` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total` decimal(12,2) NOT NULL,
  `estado_factura` varchar(50) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_factura` (`numero_factura`),
  KEY `fk_factura_estadia` (`estadia_id`),
  KEY `fk_factura_estado` (`estado_id`),
  KEY `idx_factura_cliente` (`cliente_id`),
  KEY `idx_factura_numero` (`numero_factura`),
  CONSTRAINT `fk_factura_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `cliente` (`id`),
  CONSTRAINT `fk_factura_estadia` FOREIGN KEY (`estadia_id`) REFERENCES `estadia` (`id`),
  CONSTRAINT `fk_factura_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factura`
--

LOCK TABLES `factura` WRITE;
/*!40000 ALTER TABLE `factura` DISABLE KEYS */;
INSERT INTO `factura` VALUES (1,1,1,'FAC-2026-0001','2026-05-05 00:26:01',240000.00,38400.00,0.00,278400.00,'EMITIDA',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,2,'FAC-2026-0002','2026-05-05 00:26:01',400000.00,64000.00,0.00,464000.00,'EMITIDA',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `factura` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fidelizacion_cliente`
--

DROP TABLE IF EXISTS `fidelizacion_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fidelizacion_cliente` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint unsigned NOT NULL,
  `nivel` varchar(50) DEFAULT NULL,
  `puntos` int unsigned DEFAULT '0',
  `fecha_ultima_interaccion` date DEFAULT NULL,
  `observacion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cliente_id` (`cliente_id`),
  KEY `fk_fidelizacion_cliente_estado` (`estado_id`),
  CONSTRAINT `fk_fidelizacion_cliente_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `cliente` (`id`),
  CONSTRAINT `fk_fidelizacion_cliente_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fidelizacion_cliente`
--

LOCK TABLES `fidelizacion_cliente` WRITE;
/*!40000 ALTER TABLE `fidelizacion_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `fidelizacion_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `habitacion`
--

DROP TABLE IF EXISTS `habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `sede_id` bigint unsigned NOT NULL,
  `tipo_habitacion_id` bigint unsigned NOT NULL,
  `estado_habitacion_id` bigint unsigned NOT NULL,
  `numero` varchar(20) NOT NULL,
  `piso` tinyint unsigned DEFAULT NULL,
  `capacidad` tinyint unsigned NOT NULL,
  `descripcion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_habitacion_sede_numero` (`sede_id`,`numero`),
  KEY `fk_habitacion_estado` (`estado_id`),
  KEY `idx_habitacion_sede` (`sede_id`),
  KEY `idx_habitacion_tipo` (`tipo_habitacion_id`),
  KEY `idx_habitacion_estado` (`estado_habitacion_id`),
  CONSTRAINT `fk_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_habitacion_estado_habitacion` FOREIGN KEY (`estado_habitacion_id`) REFERENCES `estado_habitacion` (`id`),
  CONSTRAINT `fk_habitacion_sede` FOREIGN KEY (`sede_id`) REFERENCES `sede` (`id`),
  CONSTRAINT `fk_habitacion_tipo` FOREIGN KEY (`tipo_habitacion_id`) REFERENCES `tipo_habitacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `habitacion`
--

LOCK TABLES `habitacion` WRITE;
/*!40000 ALTER TABLE `habitacion` DISABLE KEYS */;
INSERT INTO `habitacion` VALUES (1,1,1,1,'101',1,1,'Habitacion sencilla piso 1',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,1,2,1,'201',2,2,'Habitacion doble con vista al parque',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,2,3,1,'301',3,4,'Suite ejecutiva con sala y jacuzzi',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informacion_legal`
--

DROP TABLE IF EXISTS `informacion_legal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `informacion_legal` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `tipo_documento_legal` varchar(100) NOT NULL,
  `numero_documento_legal` varchar(100) NOT NULL,
  `descripcion` text,
  `fecha_expedicion` date DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_informacion_legal_empresa` (`empresa_id`),
  KEY `fk_informacion_legal_estado` (`estado_id`),
  CONSTRAINT `fk_informacion_legal_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresa` (`id`),
  CONSTRAINT `fk_informacion_legal_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informacion_legal`
--

LOCK TABLES `informacion_legal` WRITE;
/*!40000 ALTER TABLE `informacion_legal` DISABLE KEYS */;
/*!40000 ALTER TABLE `informacion_legal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mantenimiento_habitacion`
--

DROP TABLE IF EXISTS `mantenimiento_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mantenimiento_habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `habitacion_id` bigint unsigned NOT NULL,
  `empleado_id` bigint unsigned NOT NULL,
  `tipo_mantenimiento` varchar(100) NOT NULL,
  `fecha_inicio` datetime NOT NULL,
  `fecha_fin` datetime DEFAULT NULL,
  `estado_mantenimiento` varchar(50) NOT NULL,
  `observacion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_mantenimiento_habitacion_emp` (`empleado_id`),
  KEY `fk_mantenimiento_habitacion_estado` (`estado_id`),
  KEY `idx_mantenimiento_habitacion` (`habitacion_id`),
  KEY `idx_mantenimiento_fechas` (`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_mantenimiento_habitacion_emp` FOREIGN KEY (`empleado_id`) REFERENCES `empleado` (`id`),
  CONSTRAINT `fk_mantenimiento_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_mantenimiento_habitacion_hab` FOREIGN KEY (`habitacion_id`) REFERENCES `habitacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mantenimiento_habitacion`
--

LOCK TABLES `mantenimiento_habitacion` WRITE;
/*!40000 ALTER TABLE `mantenimiento_habitacion` DISABLE KEYS */;
INSERT INTO `mantenimiento_habitacion` VALUES (1,1,2,'PREVENTIVO','2026-04-01 08:00:00',NULL,'COMPLETADO','Revision de plomeria',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,2,'CORRECTIVO','2026-04-15 09:00:00',NULL,'COMPLETADO','Cambio de aire acondicionado',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,3,2,'REMODELACION','2026-05-01 07:00:00',NULL,'EN_PROCESO','Pintura y cambio de muebles',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `mantenimiento_habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mantenimiento_remodelacion`
--

DROP TABLE IF EXISTS `mantenimiento_remodelacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mantenimiento_remodelacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `mantenimiento_habitacion_id` bigint unsigned NOT NULL,
  `descripcion_remodelacion` text,
  `presupuesto_estimado` decimal(14,2) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_mantenimiento_remodelacion_mant` (`mantenimiento_habitacion_id`),
  KEY `fk_mantenimiento_remodelacion_estado` (`estado_id`),
  CONSTRAINT `fk_mantenimiento_remodelacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_mantenimiento_remodelacion_mant` FOREIGN KEY (`mantenimiento_habitacion_id`) REFERENCES `mantenimiento_habitacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mantenimiento_remodelacion`
--

LOCK TABLES `mantenimiento_remodelacion` WRITE;
/*!40000 ALTER TABLE `mantenimiento_remodelacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `mantenimiento_remodelacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mantenimiento_uso`
--

DROP TABLE IF EXISTS `mantenimiento_uso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mantenimiento_uso` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `mantenimiento_habitacion_id` bigint unsigned NOT NULL,
  `motivo_uso` varchar(255) DEFAULT NULL,
  `detalle_actividad` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_mantenimiento_uso_mant` (`mantenimiento_habitacion_id`),
  KEY `fk_mantenimiento_uso_estado` (`estado_id`),
  CONSTRAINT `fk_mantenimiento_uso_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_mantenimiento_uso_mant` FOREIGN KEY (`mantenimiento_habitacion_id`) REFERENCES `mantenimiento_habitacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mantenimiento_uso`
--

LOCK TABLES `mantenimiento_uso` WRITE;
/*!40000 ALTER TABLE `mantenimiento_uso` DISABLE KEYS */;
/*!40000 ALTER TABLE `mantenimiento_uso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metodo_pago`
--

DROP TABLE IF EXISTS `metodo_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metodo_pago` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `requiere_referencia` tinyint(1) DEFAULT '0',
  `permite_pago_parcial` tinyint(1) DEFAULT '0',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_metodo_pago_estado` (`estado_id`),
  CONSTRAINT `fk_metodo_pago_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metodo_pago`
--

LOCK TABLES `metodo_pago` WRITE;
/*!40000 ALTER TABLE `metodo_pago` DISABLE KEYS */;
INSERT INTO `metodo_pago` VALUES (1,'Efectivo','Pago en efectivo',0,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Tarjeta debito','Pago con tarjeta debito',1,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Transferencia','Transferencia bancaria',1,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `metodo_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modulo`
--

DROP TABLE IF EXISTS `modulo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modulo` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `ruta_base` varchar(255) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_modulo_estado` (`estado_id`),
  CONSTRAINT `fk_modulo_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modulo`
--

LOCK TABLES `modulo` WRITE;
/*!40000 ALTER TABLE `modulo` DISABLE KEYS */;
INSERT INTO `modulo` VALUES (1,'Reservas','Gestion de reservas de habitaciones','/reservas',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Facturacion','Gestion de facturas y pagos','/facturacion',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Mantenimiento','Control de mantenimiento de habitaciones','/mantenimiento',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `modulo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modulo_vista`
--

DROP TABLE IF EXISTS `modulo_vista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modulo_vista` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `modulo_id` bigint unsigned NOT NULL,
  `vista_id` bigint unsigned NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_modulo_vista` (`modulo_id`,`vista_id`),
  KEY `fk_modulo_vista_vista` (`vista_id`),
  KEY `fk_modulo_vista_estado` (`estado_id`),
  CONSTRAINT `fk_modulo_vista_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_modulo_vista_modulo` FOREIGN KEY (`modulo_id`) REFERENCES `modulo` (`id`),
  CONSTRAINT `fk_modulo_vista_vista` FOREIGN KEY (`vista_id`) REFERENCES `vista` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modulo_vista`
--

LOCK TABLES `modulo_vista` WRITE;
/*!40000 ALTER TABLE `modulo_vista` DISABLE KEYS */;
INSERT INTO `modulo_vista` VALUES (1,1,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,2,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,3,3,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `modulo_vista` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pago_parcial`
--

DROP TABLE IF EXISTS `pago_parcial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pago_parcial` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `reserva_habitacion_id` bigint unsigned NOT NULL,
  `factura_id` bigint unsigned DEFAULT NULL,
  `metodo_pago_id` bigint unsigned NOT NULL,
  `valor` decimal(12,2) NOT NULL,
  `fecha_pago` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `referencia_pago` varchar(100) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_pago_parcial_factura` (`factura_id`),
  KEY `fk_pago_parcial_metodo` (`metodo_pago_id`),
  KEY `fk_pago_parcial_estado` (`estado_id`),
  KEY `idx_pago_parcial_reserva` (`reserva_habitacion_id`),
  CONSTRAINT `fk_pago_parcial_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_pago_parcial_factura` FOREIGN KEY (`factura_id`) REFERENCES `factura` (`id`),
  CONSTRAINT `fk_pago_parcial_metodo` FOREIGN KEY (`metodo_pago_id`) REFERENCES `metodo_pago` (`id`),
  CONSTRAINT `fk_pago_parcial_reserva` FOREIGN KEY (`reserva_habitacion_id`) REFERENCES `reserva_habitacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pago_parcial`
--

LOCK TABLES `pago_parcial` WRITE;
/*!40000 ALTER TABLE `pago_parcial` DISABLE KEYS */;
INSERT INTO `pago_parcial` VALUES (1,1,1,1,278400.00,'2026-05-05 00:26:01',NULL,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,2,3,464000.00,'2026-05-05 00:26:01','TRF-00123456',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `pago_parcial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permiso`
--

DROP TABLE IF EXISTS `permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permiso` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `accion` varchar(100) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`),
  KEY `fk_permiso_estado` (`estado_id`),
  CONSTRAINT `fk_permiso_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permiso`
--

LOCK TABLES `permiso` WRITE;
/*!40000 ALTER TABLE `permiso` DISABLE KEYS */;
INSERT INTO `permiso` VALUES (1,'ver_reservas','Ver listado de reservas','READ',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'crear_reservas','Crear nuevas reservas','CREATE',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'gestionar_factura','Emitir y anular facturas','MANAGE',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persona`
--

DROP TABLE IF EXISTS `persona`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `persona` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo_documento_id` bigint unsigned NOT NULL,
  `numero_documento` varchar(50) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `correo` varchar(150) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_persona_documento` (`tipo_documento_id`,`numero_documento`),
  KEY `fk_persona_estado` (`estado_id`),
  KEY `idx_persona_correo` (`correo`),
  KEY `idx_persona_documento` (`numero_documento`),
  CONSTRAINT `fk_persona_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_persona_tipo_documento` FOREIGN KEY (`tipo_documento_id`) REFERENCES `tipo_documento` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persona`
--

LOCK TABLES `persona` WRITE;
/*!40000 ALTER TABLE `persona` DISABLE KEYS */;
/*!40000 ALTER TABLE `persona` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_factura`
--

DROP TABLE IF EXISTS `pre_factura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pre_factura` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `estadia_id` bigint unsigned NOT NULL,
  `reserva_habitacion_id` bigint unsigned NOT NULL,
  `cliente_id` bigint unsigned NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `impuesto` decimal(12,2) NOT NULL DEFAULT '0.00',
  `descuento` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total` decimal(12,2) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_pre_factura_estadia` (`estadia_id`),
  KEY `fk_pre_factura_reserva` (`reserva_habitacion_id`),
  KEY `fk_pre_factura_cliente` (`cliente_id`),
  KEY `fk_pre_factura_estado` (`estado_id`),
  CONSTRAINT `fk_pre_factura_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `cliente` (`id`),
  CONSTRAINT `fk_pre_factura_estadia` FOREIGN KEY (`estadia_id`) REFERENCES `estadia` (`id`),
  CONSTRAINT `fk_pre_factura_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_pre_factura_reserva` FOREIGN KEY (`reserva_habitacion_id`) REFERENCES `reserva_habitacion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_factura`
--

LOCK TABLES `pre_factura` WRITE;
/*!40000 ALTER TABLE `pre_factura` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_factura` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `precio`
--

DROP TABLE IF EXISTS `precio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `precio` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tipo_habitacion_id` bigint unsigned NOT NULL,
  `tipo_dia_id` bigint unsigned NOT NULL,
  `valor` decimal(12,2) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `condicion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_precio_tipo_dia` (`tipo_dia_id`),
  KEY `fk_precio_estado` (`estado_id`),
  KEY `idx_precio_tipo_hab` (`tipo_habitacion_id`),
  KEY `idx_precio_fechas` (`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_precio_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_precio_tipo_dia` FOREIGN KEY (`tipo_dia_id`) REFERENCES `tipo_dia` (`id`),
  CONSTRAINT `fk_precio_tipo_habitacion` FOREIGN KEY (`tipo_habitacion_id`) REFERENCES `tipo_habitacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `precio`
--

LOCK TABLES `precio` WRITE;
/*!40000 ALTER TABLE `precio` DISABLE KEYS */;
INSERT INTO `precio` VALUES (1,1,1,120000.00,'2026-01-01',NULL,NULL,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,1,200000.00,'2026-01-01',NULL,NULL,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,3,2,450000.00,'2026-01-01',NULL,NULL,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `precio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `proveedor_id` bigint unsigned NOT NULL,
  `nombre` varchar(200) NOT NULL,
  `descripcion` text,
  `valor_venta` decimal(12,2) NOT NULL,
  `stock_actual` int unsigned NOT NULL DEFAULT '0',
  `stock_minimo` int unsigned NOT NULL DEFAULT '0',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_producto_estado` (`estado_id`),
  KEY `idx_producto_proveedor` (`proveedor_id`),
  CONSTRAINT `fk_producto_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_producto_proveedor` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedor` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
INSERT INTO `producto` VALUES (1,1,'Agua mineral 500ml','Botella de agua mineral',3000.00,200,50,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,1,'Snack mixto','Paquete de snacks variados',5000.00,150,30,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,2,'Kit amenidades','Shampoo, acondicionador y jabon',8000.00,100,20,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promocion`
--

DROP TABLE IF EXISTS `promocion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promocion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `descripcion` text,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `canal` varchar(100) DEFAULT NULL,
  `activa` tinyint(1) DEFAULT '1',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_promocion_estado` (`estado_id`),
  CONSTRAINT `fk_promocion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promocion`
--

LOCK TABLES `promocion` WRITE;
/*!40000 ALTER TABLE `promocion` DISABLE KEYS */;
INSERT INTO `promocion` VALUES (1,'Temporada baja 20% dto','Descuento en habitaciones entre semana','2026-06-01','2026-07-31','EMAIL',1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Noche gratis al 3er dia','La 3ra noche no se cobra','2026-05-01','2026-05-31','WHATSAPP',1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Pack familia','Suite con desayuno incluido','2026-12-01','2026-12-31','WEB',1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `promocion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor`
--

DROP TABLE IF EXISTS `proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedor` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `nit` varchar(50) NOT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `correo` varchar(150) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nit` (`nit`),
  KEY `fk_proveedor_estado` (`estado_id`),
  CONSTRAINT `fk_proveedor_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor`
--

LOCK TABLES `proveedor` WRITE;
/*!40000 ALTER TABLE `proveedor` DISABLE KEYS */;
INSERT INTO `proveedor` VALUES (1,'Distribuidora La Calidad','800111000-1','3120001111','ventas@lacalidad.com','Zona industrial Neiva',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Importadora Tech','800222000-2','3130002222','info@importech.com','Bogota Centro',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Suministros Express','800333000-3','3140003333','pedidos@sumexpress.com','Medellin',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reserva_habitacion`
--

DROP TABLE IF EXISTS `reserva_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reserva_habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint unsigned NOT NULL,
  `habitacion_id` bigint unsigned NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `cantidad_persona` tinyint unsigned NOT NULL,
  `estado_reserva` varchar(50) NOT NULL,
  `valor_estimado` decimal(12,2) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_reserva_habitacion_estado` (`estado_id`),
  KEY `idx_reserva_cliente` (`cliente_id`),
  KEY `idx_reserva_habitacion` (`habitacion_id`),
  KEY `idx_reserva_fechas` (`fecha_inicio`,`fecha_fin`),
  CONSTRAINT `fk_reserva_habitacion_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `cliente` (`id`),
  CONSTRAINT `fk_reserva_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_reserva_habitacion_habitacion` FOREIGN KEY (`habitacion_id`) REFERENCES `habitacion` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reserva_habitacion`
--

LOCK TABLES `reserva_habitacion` WRITE;
/*!40000 ALTER TABLE `reserva_habitacion` DISABLE KEYS */;
INSERT INTO `reserva_habitacion` VALUES (1,1,1,'2026-05-10','2026-05-12',1,'CONFIRMADA',240000.00,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,2,'2026-05-15','2026-05-17',2,'CONFIRMADA',400000.00,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,3,3,'2026-05-20','2026-05-22',3,'PENDIENTE',900000.00,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `reserva_habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`),
  KEY `fk_rol_estado` (`estado_id`),
  CONSTRAINT `fk_rol_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'Administrador','Acceso total al sistema',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Recepcionista','Gestion de reservas y check-in',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Auditor','Consulta de reportes y facturacion',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol_permiso`
--

DROP TABLE IF EXISTS `rol_permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol_permiso` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `rol_id` bigint unsigned NOT NULL,
  `permiso_id` bigint unsigned NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_rol_permiso` (`rol_id`,`permiso_id`),
  KEY `fk_rol_permiso_permiso` (`permiso_id`),
  KEY `fk_rol_permiso_estado` (`estado_id`),
  CONSTRAINT `fk_rol_permiso_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_rol_permiso_permiso` FOREIGN KEY (`permiso_id`) REFERENCES `permiso` (`id`),
  CONSTRAINT `fk_rol_permiso_rol` FOREIGN KEY (`rol_id`) REFERENCES `rol` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol_permiso`
--

LOCK TABLES `rol_permiso` WRITE;
/*!40000 ALTER TABLE `rol_permiso` DISABLE KEYS */;
INSERT INTO `rol_permiso` VALUES (1,1,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,1,2,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,1,3,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(4,2,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(5,2,2,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `rol_permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sede`
--

DROP TABLE IF EXISTS `sede`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sede` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `empresa_id` bigint unsigned NOT NULL,
  `nombre` varchar(200) NOT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `ciudad` varchar(100) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `correo` varchar(150) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_sede_empresa` (`empresa_id`),
  KEY `fk_sede_estado` (`estado_id`),
  CONSTRAINT `fk_sede_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresa` (`id`),
  CONSTRAINT `fk_sede_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sede`
--

LOCK TABLES `sede` WRITE;
/*!40000 ALTER TABLE `sede` DISABLE KEYS */;
INSERT INTO `sede` VALUES (1,1,'Sede Principal Neiva','Calle 5 # 10-20','Neiva','8751234','neiva@neivaplaza.com',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,'Sede Centro Bogota','Carrera 7 # 50-30','Bogota','3412345','bogota@bogotacenter.com',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,3,'Sede El Poblado','Av Poblado 45','Medellin','4443322','medellin@medellinprime.com',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `sede` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_producto`
--

DROP TABLE IF EXISTS `seguimiento_producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seguimiento_producto` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `producto_id` bigint unsigned NOT NULL,
  `tipo_movimiento` enum('ENTRADA','SALIDA','AJUSTE') NOT NULL,
  `cantidad` int NOT NULL,
  `fecha_movimiento` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `observacion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_seguimiento_producto_estado` (`estado_id`),
  KEY `idx_seguimiento_producto` (`producto_id`),
  CONSTRAINT `fk_seguimiento_producto_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_seguimiento_producto_producto` FOREIGN KEY (`producto_id`) REFERENCES `producto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_producto`
--

LOCK TABLES `seguimiento_producto` WRITE;
/*!40000 ALTER TABLE `seguimiento_producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicio`
--

DROP TABLE IF EXISTS `servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicio` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `descripcion` text,
  `valor_venta` decimal(12,2) NOT NULL,
  `disponible` tinyint(1) DEFAULT '1',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_servicio_estado` (`estado_id`),
  CONSTRAINT `fk_servicio_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio`
--

LOCK TABLES `servicio` WRITE;
/*!40000 ALTER TABLE `servicio` DISABLE KEYS */;
INSERT INTO `servicio` VALUES (1,'Lavanderia express','Servicio de lavado en 4 horas',25000.00,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Desayuno buffet','Desayuno incluido de 6am a 10am',18000.00,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Transporte aeropuerto','Traslado al aeropuerto',45000.00,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `servicio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `termino_condicion`
--

DROP TABLE IF EXISTS `termino_condicion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `termino_condicion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) NOT NULL,
  `contenido` text NOT NULL,
  `version` varchar(20) NOT NULL,
  `fecha_vigencia` date NOT NULL,
  `obligatorio` tinyint(1) DEFAULT '1',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_termino_condicion_estado` (`estado_id`),
  CONSTRAINT `fk_termino_condicion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `termino_condicion`
--

LOCK TABLES `termino_condicion` WRITE;
/*!40000 ALTER TABLE `termino_condicion` DISABLE KEYS */;
/*!40000 ALTER TABLE `termino_condicion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_dia`
--

DROP TABLE IF EXISTS `tipo_dia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_dia` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `fecha` date DEFAULT NULL,
  `aplica_temporada` tinyint(1) DEFAULT '0',
  `aplica_feriado` tinyint(1) DEFAULT '0',
  `aplica_especial` tinyint(1) DEFAULT '0',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_tipo_dia_estado` (`estado_id`),
  CONSTRAINT `fk_tipo_dia_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_dia`
--

LOCK TABLES `tipo_dia` WRITE;
/*!40000 ALTER TABLE `tipo_dia` DISABLE KEYS */;
INSERT INTO `tipo_dia` VALUES (1,'Dia normal','Tarifa estandar entre semana',NULL,0,0,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Fin de semana','Tarifa sabado y domingo',NULL,0,0,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Feriado','Tarifa para dias festivos',NULL,0,1,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `tipo_dia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_documento`
--

DROP TABLE IF EXISTS `tipo_documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_documento` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `fk_tipo_documento_estado` (`estado_id`),
  CONSTRAINT `fk_tipo_documento_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_documento`
--

LOCK TABLES `tipo_documento` WRITE;
/*!40000 ALTER TABLE `tipo_documento` DISABLE KEYS */;
INSERT INTO `tipo_documento` VALUES (1,'CC','Cedula de Ciudadania','Documento nacional Colombia',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'CE','Cedula de Extranjeria','Documento para extranjeros',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'PAS','Pasaporte','Documento de viaje internacional',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `tipo_documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_habitacion`
--

DROP TABLE IF EXISTS `tipo_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_habitacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `capacidad_base` tinyint unsigned NOT NULL,
  `capacidad_maxima` tinyint unsigned NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_tipo_habitacion_estado` (`estado_id`),
  CONSTRAINT `fk_tipo_habitacion_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_habitacion`
--

LOCK TABLES `tipo_habitacion` WRITE;
/*!40000 ALTER TABLE `tipo_habitacion` DISABLE KEYS */;
INSERT INTO `tipo_habitacion` VALUES (1,'Sencilla','Habitacion para una persona',1,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,'Doble','Habitacion para dos personas',2,2,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,'Suite','Habitacion de lujo con sala',2,4,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `tipo_habitacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `persona_id` bigint unsigned NOT NULL,
  `username` varchar(80) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `ultimo_acceso` datetime DEFAULT NULL,
  `bloqueado` tinyint(1) DEFAULT '0',
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `persona_id` (`persona_id`),
  UNIQUE KEY `username` (`username`),
  KEY `fk_usuario_estado` (`estado_id`),
  KEY `idx_usuario_username` (`username`),
  CONSTRAINT `fk_usuario_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_usuario_persona` FOREIGN KEY (`persona_id`) REFERENCES `persona` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,4,'ana.gomez','$2b$12$hashejemplo1',NULL,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,5,'pedro.lozano','$2b$12$hashejemplo2',NULL,0,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_rol`
--

DROP TABLE IF EXISTS `usuario_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_rol` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint unsigned NOT NULL,
  `rol_id` bigint unsigned NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_usuario_rol` (`usuario_id`,`rol_id`),
  KEY `fk_usuario_rol_rol` (`rol_id`),
  KEY `fk_usuario_rol_estado` (`estado_id`),
  CONSTRAINT `fk_usuario_rol_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_usuario_rol_rol` FOREIGN KEY (`rol_id`) REFERENCES `rol` (`id`),
  CONSTRAINT `fk_usuario_rol_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_rol`
--

LOCK TABLES `usuario_rol` WRITE;
/*!40000 ALTER TABLE `usuario_rol` DISABLE KEYS */;
INSERT INTO `usuario_rol` VALUES (1,1,2,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,1,1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `usuario_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta_producto`
--

DROP TABLE IF EXISTS `venta_producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta_producto` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `estadia_id` bigint unsigned NOT NULL,
  `producto_id` bigint unsigned NOT NULL,
  `cantidad` int unsigned NOT NULL,
  `valor_unitario` decimal(12,2) NOT NULL,
  `valor_total` decimal(12,2) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_venta_producto_estadia` (`estadia_id`),
  KEY `fk_venta_producto_producto` (`producto_id`),
  KEY `fk_venta_producto_estado` (`estado_id`),
  CONSTRAINT `fk_venta_producto_estadia` FOREIGN KEY (`estadia_id`) REFERENCES `estadia` (`id`),
  CONSTRAINT `fk_venta_producto_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_venta_producto_producto` FOREIGN KEY (`producto_id`) REFERENCES `producto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta_producto`
--

LOCK TABLES `venta_producto` WRITE;
/*!40000 ALTER TABLE `venta_producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `venta_producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta_servicio`
--

DROP TABLE IF EXISTS `venta_servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta_servicio` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `estadia_id` bigint unsigned NOT NULL,
  `servicio_id` bigint unsigned NOT NULL,
  `cantidad` int unsigned NOT NULL,
  `valor_unitario` decimal(12,2) NOT NULL,
  `valor_total` decimal(12,2) NOT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_venta_servicio_estadia` (`estadia_id`),
  KEY `fk_venta_servicio_servicio` (`servicio_id`),
  KEY `fk_venta_servicio_estado` (`estado_id`),
  CONSTRAINT `fk_venta_servicio_estadia` FOREIGN KEY (`estadia_id`) REFERENCES `estadia` (`id`),
  CONSTRAINT `fk_venta_servicio_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_venta_servicio_servicio` FOREIGN KEY (`servicio_id`) REFERENCES `servicio` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta_servicio`
--

LOCK TABLES `venta_servicio` WRITE;
/*!40000 ALTER TABLE `venta_servicio` DISABLE KEYS */;
/*!40000 ALTER TABLE `venta_servicio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vista`
--

DROP TABLE IF EXISTS `vista`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vista` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `modulo_id` bigint unsigned NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `ruta` varchar(255) DEFAULT NULL,
  `estado_id` bigint unsigned DEFAULT NULL,
  `creado_por` bigint unsigned DEFAULT NULL,
  `creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `actualizado_por` bigint unsigned DEFAULT NULL,
  `actualizado_en` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `eliminado_por` bigint unsigned DEFAULT NULL,
  `eliminado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_vista_modulo` (`modulo_id`),
  KEY `fk_vista_estado` (`estado_id`),
  CONSTRAINT `fk_vista_estado` FOREIGN KEY (`estado_id`) REFERENCES `estado` (`id`),
  CONSTRAINT `fk_vista_modulo` FOREIGN KEY (`modulo_id`) REFERENCES `modulo` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vista`
--

LOCK TABLES `vista` WRITE;
/*!40000 ALTER TABLE `vista` DISABLE KEYS */;
INSERT INTO `vista` VALUES (1,1,'Listado de reservas','Ver todas las reservas','/reservas/listado',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(2,2,'Emitir factura','Crear nueva factura','/facturacion/nueva',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL),(3,3,'Ordenes de mantenimiento','Ver ordenes activas','/mantenimiento/ordenes',1,NULL,'2026-05-05 00:26:01',NULL,'2026-05-05 00:26:01',NULL,NULL);
/*!40000 ALTER TABLE `vista` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-05  0:48:15
